nav > a:hover {
    animation: animationFrames linear 1s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
    0% {
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
        transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
        -moz-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
        -webkit-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
        -o-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    50% {
        -ms-transform:  scaleX(1.10) scaleY(1.10) ;
    }
    100% {
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}